In [171]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import pandas_profiling
import warnings
from sklearn.model_selection import cross_val_score,train_test_split,GridSearchCV
from sklearn.model_selection import KFold, cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from xgboost.sklearn import XGBClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import pickle

In [20]:
data=pd.read_csv('/content/drive/MyDrive/Data-Science-ML-Capstone-Projects-master/census_income.csv')

In [3]:
data.head()

   Age          Workclass  Fnlwgt  ... Hours_per_week  Native_country  Income
0   50   Self-emp-not-inc   83311  ...             13   United-States   <=50K
1   38            Private  215646  ...             40   United-States   <=50K
2   53            Private  234721  ...             40   United-States   <=50K
3   28            Private  338409  ...             40            Cuba   <=50K
4   37            Private  284582  ...             40   United-States   <=50K

[5 rows x 15 columns]

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             32560 non-null  int64
 1   Workclass       32560 non-null  object
 2   Fnlwgt          32560 non-null  int64
 3   Education       32560 non-null  object
 4   Education_num   32560 non-null  int64
 5   Marital_status  32560 non-null  object
 6   Occupation      32560 non-null  object
 7   Relationship    32560 non-null  object
 8   Race            32560 non-null  object
 9   Sex             32560 non-null  object
 10  Capital_gain    32560 non-null  int64
 11  Capital_loss    32560 non-null  int64
 12  Hours_per_week  32560 non-null  int64
 13  Native_country  32560 non-null  object
 14  Income          32560 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [5]:
print(data.shape)

(32560, 15)

In [24]:
data['Income'].nunique()

2

In [22]:
data.Income= pd.factorize(data.Income)[0]

In [23]:
data.head()

   Age          Workclass  Fnlwgt  ... Hours_per_week  Native_country Income
0   50   Self-emp-not-inc   83311  ...             13   United-States      0
1   38            Private  215646  ...             40   United-States      0
2   53            Private  234721  ...             40   United-States      0
3   28            Private  338409  ...             40            Cuba      0
4   37            Private  284582  ...             40   United-States      0

[5 rows x 15 columns]

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             32560 non-null  int64
 1   Workclass       32560 non-null  object
 2   Fnlwgt          32560 non-null  int64
 3   Education       32560 non-null  object
 4   Education_num   32560 non-null  int64
 5   Marital_status  32560 non-null  object
 6   Occupation      32560 non-null  object
 7   Relationship    32560 non-null  object
 8   Race            32560 non-null  object
 9   Sex             32560 non-null  object
 10  Capital_gain    32560 non-null  int64
 11  Capital_loss    32560 non-null  int64
 12  Hours_per_week  32560 non-null  int64
 13  Native_country  32560 non-null  object
 14  Income          32560 non-null  int64
dtypes: int64(7), object(8)
memory usage: 3.7+ MB

In [45]:
data.Sex= pd.factorize(data.Sex)[0]

In [47]:
data['Sex'].nunique()

2

In [58]:
data.Workclass= pd.factorize(data.Workclass)[0]

In [59]:
data.head()

   Age  Workclass  Fnlwgt  ... Hours_per_week  Native_country Income
0   50          0   83311  ...             13   United-States      0
1   38          1  215646  ...             40   United-States      0
2   53          1  234721  ...             40   United-States      0
3   28          1  338409  ...             40            Cuba      0
4   37          1  284582  ...             40   United-States      0

[5 rows x 15 columns]

In [60]:
data['Workclass'].nunique()

9

In [61]:
data.Education= pd.factorize(data.Education)[0]

In [62]:
data['Education'].nunique()

16

In [63]:
data.head()

   Age  Workclass  Fnlwgt  ...  Hours_per_week  Native_country Income
0   50          0   83311  ...              13   United-States      0
1   38          1  215646  ...              40   United-States      0
2   53          1  234721  ...              40   United-States      0
3   28          1  338409  ...              40            Cuba      0
4   37          1  284582  ...              40   United-States      0

[5 rows x 15 columns]

In [73]:
race_map={'Black':0, 'White':1, 'Asian-Pac-Islander':0, 'Other':0,'Amer-Indian-Eskimo':0}

In [79]:
data['is_white']=data['Race'].replace({'Black':0, 'White':1, 'Asian-Pac-Islander':0, 'Other':0,'Amer-Indian-Eskimo':0},regex=True)

In [80]:
data.head()

   Age  Workclass  Fnlwgt  ...  Native_country  Income is_white
0   50          0   83311  ...   United-States       0        1
1   38          1  215646  ...   United-States       0        1
2   53          1  234721  ...   United-States       0        0
3   28          1  338409  ...            Cuba       0        0
4   37          1  284582  ...   United-States       0        1

[5 rows x 16 columns]

In [112]:
data= data.drop('is_US_native',axis=1)

In [88]:
data.head()

   Age  Workclass  Fnlwgt  ...  Native_country  Income is_white
0   50          0   83311  ...   United-States       0        1
1   38          1  215646  ...   United-States       0        1
2   53          1  234721  ...   United-States       0        0
3   28          1  338409  ...            Cuba       0        0
4   37          1  284582  ...   United-States       0        1

[5 rows x 16 columns]

In [93]:
data['Native_country'].nunique()

42

In [111]:
native_country_map={'Cambodia': 0,
 'Canada': 0,
 'China': 0,
 'Columbia': 0,
 'Cuba': 0,
 'Dominican-Republic': 0,
 'Ecuador': 0,
 'El-Salvador': 0,
 'England': 0,
 'France': 0,
 'Germany': 0,
 'Greece': 0,
 'Guatemala': 0,
 'Haiti': 0,
 'Holand-Netherlands': 0,
 'Honduras': 0,
 'Hong': 0,
 'Hungary': 0,
 'India': 0,
 'Iran': 0,
 'Ireland': 0,
 'Italy': 0,
 'Jamaica': 0,
 'Japan': 0,
 'Laos': 0,
 'Mexico': 0,
 'Nicaragua': 0,
 'Outlying-US(Guam-USVI-etc)': 0,
 'Peru': 0,
 'Philippines': 0,
 'Poland': 0,
 'Portugal': 0,
 'Puerto-Rico': 0,
 'Scotland': 0,
 'South': 0,
 'Taiwan': 0,
 'Thailand': 0,
 'Trinadad&Tobago': 0,
 'Vietnam': 0,
 'Yugoslavia': 0,
 'United-States': 1}

In [113]:
 data['is_US_native']=data['Native_country'].replace(native_country_map,regex=True)

In [114]:
data.head()

   Age  Workclass  Fnlwgt  ...  Income  is_white is_US_native
0   50          0   83311  ...       0         1            1
1   38          1  215646  ...       0         1            1
2   53          1  234721  ...       0         0            1
3   28          1  338409  ...       0         0            0
4   37          1  284582  ...       0         1            1

[5 rows x 17 columns]

In [116]:
data['is_couple']=data['Marital_status'].replace({'Married-civ-spouse':1,'Never-married':0,'Divorced':0,'Separated':0,'Widowed':0,'Married-spouse-absent':0,'Married-AF-spouse':1},regex=True)

In [117]:
data.head()

   Age  Workclass  Fnlwgt  Education  ...  Income is_white is_US_native is_couple
0   50          0   83311          0  ...       0        1            1         1
1   38          1  215646          1  ...       0        1            1         0
2   53          1  234721          2  ...       0        0            1         1
3   28          1  338409          0  ...       0        0            0         1
4   37          1  284582          3  ...       0        1            1         1

[5 rows x 18 columns]

In [118]:
  data.drop(labels=['Marital_status','Relationship','Race','Native_country'],axis=1,inplace=True)

In [119]:
data.head()

   Age  Workclass  Fnlwgt  Education  ...  Income is_white  is_US_native  is_couple
0   50          0   83311          0  ...       0        1             1          1
1   38          1  215646          1  ...       0        1             1          0
2   53          1  234721          2  ...       0        0             1          1
3   28          1  338409          0  ...       0        0             0          1
4   37          1  284582          3  ...       0        1             1          1

[5 rows x 14 columns]

In [121]:
data.Occupation= pd.factorize(data.Occupation)[0]

In [123]:
data.head()

   Age  Workclass  Fnlwgt  Education  ...  Income  is_white  is_US_native  is_couple
0   50          0   83311          0  ...       0         1             1          1
1   38          1  215646          1  ...       0         1             1          0
2   53          1  234721          2  ...       0         0             1          1
3   28          1  338409          0  ...       0         0             0          1
4   37          1  284582          3  ...       0         1             1          1

[5 rows x 14 columns]

In [150]:
data['is_US_native'].nunique()

4

In [158]:
r=data['is_US_native'].unique()
print(r)

[1 0]

In [152]:
dic={"' ?'" :0, "' Outlying-US(Guam-USVI-etc)'" :0}

In [157]:
data['is_US_native']=data['is_US_native'].replace({' ?' :0, ' Outlying-US(Guam-USVI-etc)' :0},regex=True)

In [159]:
y=data['Income']
X=data[['Age','Workclass','Fnlwgt','Education','Education_num','Occupation','Sex','Capital_gain','Capital_loss','Hours_per_week','is_white','is_US_native','is_couple']]

In [126]:
print(X.shape)

(32560, 13)

In [161]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             32560 non-null  int64
 1   Workclass       32560 non-null  int64
 2   Fnlwgt          32560 non-null  int64
 3   Education       32560 non-null  int64
 4   Education_num   32560 non-null  int64
 5   Occupation      32560 non-null  int64
 6   Sex             32560 non-null  int64
 7   Capital_gain    32560 non-null  int64
 8   Capital_loss    32560 non-null  int64
 9   Hours_per_week  32560 non-null  int64
 10  is_white        32560 non-null  int64
 11  is_US_native    32560 non-null  int64
 12  is_couple       32560 non-null  int64
dtypes: int64(13)
memory usage: 3.2 MB

In [135]:
models = [LogisticRegression(),DecisionTreeClassifier(),KNeighborsClassifier(),RandomForestClassifier(),GradientBoostingClassifier()]

In [164]:
max_s=0
for r_s in range(40,90):
  X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=r_s)
  for i in models:
    i.fit(X_train,y_train)
    pre=i.predict(X_test)
    r2_sc=accuracy_score(y_test,pre)
    if r2_sc>max_s:
      max_s=r2_sc
      final_State= r_s
      final_model=i
print()
print()

print("Max Score is ",max_s,"  For Random State ",final_State," and model is ", final_model )

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

Max Score is  0.8765356265356266   For Random State  74  and model is  GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=None, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [165]:
Model=GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=None, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [166]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=74)

In [168]:
model.fit(X_train,y_train)

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=None, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [169]:
y_pred=model.predict(X_test)

In [170]:
print(accuracy_score(y_test,y_pred))

0.8762285012285013

In [172]:
filename = "Model_census.pkl"
pickle.dump(model, open(filename, 'wb'))

In [174]:
from sklearn import metrics

cm = metrics.confusion_matrix(y_test, y_pred)
plt.figure(figsize=(9,9))
sns.heatmap(cm, annot=True, fmt=".3f", linewidths=.5, square = True, cmap = 'Blues_r');
plt.ylabel('Actual label');
plt.xlabel('Predicted label');
all_sample_title = 'Confusion Matrix - score:'+str(metrics.accuracy_score(y_test, y_pred))
plt.title(all_sample_title, size = 15);
plt.show()
print(metrics.classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.89      0.95      0.92      4952
           1       0.81      0.63      0.71      1560

    accuracy                           0.88      6512
   macro avg       0.85      0.79      0.81      6512
weighted avg       0.87      0.88      0.87      6512